
#app {
 margin: 0;
 padding: 0;
 background: var(--degrade);
}
body{
  background-image: url('/banners/bannerGrande.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  text-align: left;
  text-indent: 20px;
}
a{
  text-decoration: none;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
}

